@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light.ttf')
}

* {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
  text-align: center;
  font-size: 1.4em
}

.small {
  font-size:0.6em;
}
